.navbar {
    background-color: rgb(255, 0, 0);
}
.containar{
    background-color: rgb(255, 183, 0);
    border-color: #f90836;
    border-radius: 10px;
    
}
.img{
    width: 20px;
    height: 4px;
}
.navbar{background-color: rgb(233, 15, 15);
    display: flex;
    justify-content: center;
    margin: 50px;
    border-radius: 10px;
}
.navbar a{
    padding: 10px;
}
.navbar ul {
    overflow: auto;
    text-decoration: none;
    text-align:center
}


.navbar li{
    float: left;
    list-style: none;
    padding: 3px 2px;
    text-decoration:none
}
.navbar li a{
    padding: 3px 3px ;
    color: #fbfafa;
    text-decoration: none;
}

.navbar input{
    border: 2px salmon;
    border-radius: 4px;
    padding: 5px 5px;
}
.a {
    FONT-WEIGHT:bolder;
    text-align: left;
    text-decoration: double;
   padding-left: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pic{
    border-radius: 30px;
    position: static;
    padding-left: 800px;
    margin-bottom: 7px;
    float: right;
    margin-right: 2px;
     padding-bottom: 20px; 
    height: 200px;
    padding-right: 50px;
    width: 500px; 

   
}
.pic img{
    border-radius: 10px;
    border-image-width: 20px;
}
.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #f90836;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    margin: 4px;
    margin-bottom:20px;
    
}
.btn:hover{
    color: darkgoldenrod;
    background-color: aqua;
    border: 2px solid black;
}
a{
    text-decoration: none;
    color: rgb(10, 4, 77);
}
a.hover{
    color: gold;
    background-color: rgb(246, 255, 0);
}
button{
    padding-left: 400px;
        
}
span{
    font-style: italic;
    color: #f90836;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(119, 7, 119);
}
.s2{
    background-color: rgb(255, 183, 0);
}
.ss{
    padding-left: 200px;
    border-radius: 4px;
    border-color: #f90836;
    padding-bottom: 20px;
}
img{
    border-color: #f90836;
}
img{
    margin: auto;
    width: 370px;
    border-radius: 11px;
    display:ruby;
    height: 300px; 
    border-color: #f90836;
}
.s4{
    background-color: rgb(255, 183, 0); 
    padding-bottom: 20px;
    padding-left: 2px;
}
.s5{
    background-color: rgb(255, 183, 0); 

}
.box{
    border: 4px solid black;
    background-color: rgb(93, 202, 238);
    margin: 4px 0px;
    padding: 23px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 11px;
}
.container{
    margin: auto;
    width: 1200px;
    padding-bottom: 20px;
}
h4{
    text-align: center;
}
h3{
    text-align: center;
}
.s6{
    background-color: rgb(255, 183, 0); 
    padding-bottom: 10px;

}
.bom{
    border: 4px solid black;
    background-color: rgb(13, 212, 23);
    margin: 4px 10px;
    padding: 23px;
    width: 40%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 11px;
}
.con{
    margin: auto;
    width: 1200px;
    padding-bottom: 20px;
}
.s3{
    background-color: rgb(255, 183, 0); 
}
span1{
    font-style: bold;
    color:rgb(14, 84, 196);
    font-size: 20px;
}
#ident{
    float: right;
    margin-right: 20px;
    padding-bottom: 20px;
   height: 300px;
}
.s7{
    background-color: rgb(255, 183, 0); 
    
}
span2{
    font-style: bold;
    color:rgb(207, 16, 207);
    font-size: 20px;
}
.b{
    padding: 20px;
}
.b1{
    padding-left: 20px;
}
.b3{
    padding-left: 20px;

}
footer{
    text-align: center;
    color: #c10909;
    background-color: black;
    padding: 10px;
}